tasks/*
*/.DS_Store
tasks*
modules/msccd_tokenizer/src/main/java/org/nagoya_u/ertl/sa/parser/*
CodeNetRes_MSCCD
tokenizers/*
# tokenizers/*
*.zip
getCodeNetRes.py
*.antlr
*/__pycache__
*/.vscode
*/.settings
parserConfig.json
config.json