#page {
    width: 100%;
}
#infoContent, #cloneContent{
    width: 95%;
    margin: 0 auto;
}
#infoContent,.cloneClass{
    margin: 0 auto;
    border: 2px;
    border-color: black;
    border-radius: 8px;
    border-style: dashed;
}
#infoContent{
    background-color: white;
    margin-bottom: 50px;
}
.cloneContent{
    background-color: white;
}
.infoLine{
    margin-top: 10px;
    margin-bottom: 10px;
}
.infoLine .infoItem{
    display: inline-block;
    width: 24.5%;
    margin: 0 auto;
    height: 50px;
    text-align: center;
}

.infoItem span{
    line-height: 50px;
} 
.cloneClass{
    margin-bottom: 30px;
    vertical-align: top;
}
.clones{
    display: inline-block;
    vertical-align: top;
}
.clones .clone{
    display: inline-block;
    min-width: 500px;
    border: 2px solid black;
    border-radius: 16px;
    margin: 20px;
    padding: 8px;
}
.cloneClass .info{
    background-color: white;
    width: 400px;
    height: 20px;
    border: 1px solid black;
    position: relative;
    top: -10px;
    left: 20px;
    border-radius: 8px;
    text-align: center;
    line-height: 20px;
}
pre{
    padding-top: 10px;
    border-top: 1px solid gray;
    text-align: left;
    overflow: scroll;
    max-height: 800px;
    line-height: 0.5rem;
}

pre span{
    text-align: left;
}

/* pre::-webkit-scrollbar { width: 0 !important } */
#sapa{
    width: 100%;
    height: 10px;
    border-top: 1px solid black;
    margin:50px auto;
}

.hideInfo{
    display: none;
}